{% extends 'base.html' %}

{% block judul %}
<h1>{{ judul }}</h1>
{% endblock %}

{% block jsock %}
<script type="text/javascript">
$(document).ready(function() {
	var socket = io.connect('http://127.0.0.1:5000');
	socket.on('connect', function() {
		socket.send('User has connected!');
	});
	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg+'</li>');
		console.log('Received message');
	});
	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});
});
</script>
{% endblock %}

{% block chat %}
{% if session.logged_in %}
<br><br><ul id="messages"></ul>
<div class="col-lg-6">
    <div class="input-group">
      <input class="form-control" type="text" id="myMessage" placeholder="Message">
      <span class="input-group-btn">
        <button id="sendbutton" class="btn btn-primary">Send</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
{% else %}
<h4>You must login <a href="/login/" style="color: blue;">here</a></h4>
{% endif %}
{% endblock %}
